.body {
    background-color:#0F8B85;
}


.colors{
  background-color:#0F8B85;
}


.forme {
    margin-left: 10em;
    margin-right: auto;
    margin-top: 8em;
    margin-bottom: 5em;
}
img:hover {
  transform: scale(1.1); 
}
