

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
    color:#0f8b85;
}

label {
    padding-right: 10px;
}




